<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📈</text></svg>"
    />
    <title>StockSavant</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="loader" hidden></div>
    <div id="particles-js"></div>
    <div class="css-blurry-gradient"></div>
    <div class="css-blurry-gradient2"></div>
    <header>
      <div class="maintext">
        <img src="/static/logos/2.png" alt="" />
        <p>
          AI powered stock performance predictor. Enter a ticker symbol below to
          get started.
        </p>
        <form method="post">
          <input
            placeholder="ex: GS or FNF"
            type="text"
            id="ticker"
            name="ticker"
            required
          />
          <button id="loadButton" class="button-3" type="submit">
            Predict ✨
          </button>
        </form>
      </div>
    </header>
    <div id="sub-header">
      <p>
        ©
        <a href="https://www.linkedin.com/in/joshualee128/" target="_blank"
          >Joshua Lee</a
        >
        and
        <a href="https://www.linkedin.com/in/willwhitehead122/" target="_blank"
          >William Whitehead</a
        >
      </p>
    </div>
    <div class="loading-screen" id="loadingScreen">
      <div class="loader"></div>
      <p>Loading...</p>
    </div>
  </body>
  <script src="/static/loading.js"></script>
  <script src="/static/particles.js"></script>
</html>
