<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📈</text></svg>"
    />
    <title>StockSavant</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="particles-js"></div>
    <header>
      <div class="maintext">
        <h1>STOCK SAVANT</h1>
        <p>Predict the future price of any stock using machine learning.</p>
        <form method="post">
          <input
            placeholder="AAPL, TSLA, etc."
            type="text"
            id="ticker"
            name="ticker"
            required
          />
          <button class="button-3" type="submit">Submit</button>
        </form>
      </div>
    </header>
    <div id="sub-header">
      <p>© Joshua Lee and Will Whitehead</p>
    </div>
  </body>
  <script src="/static/particles.js"></script>
</html>
