<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📈</text></svg>"
    />
    <title>StockSavant</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Playfair Display"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="particles-js"></div>
    <header>
      <div class="maintext">
        <h1 style="font-size: xx-large">STOCK SAVANT</h1>
        <p>Predict the performance of a stock using ML.</p>
        <form method="post">
          <input
            placeholder="GS, AAPL, etc."
            type="text"
            id="ticker"
            name="ticker"
            required
          />
          <button class="button-3" type="submit">Predict✨</button>
        </form>
      </div>
    </header>
    <div id="sub-header">
      <p>
        ©
        <a href="https://www.linkedin.com/in/joshualee128/" target="_blank"
          >Joshua Lee</a
        >
        and
        <a href="https://www.linkedin.com/in/willwhitehead122/" target="_blank"
          >Will Whitehead</a
        >
      </p>
    </div>
  </body>
  <script src="/static/particles.js"></script>
</html>
